Alright <%= userfirstname %> pick your math
<form method = "post" action = "/radio">
<input type = "hidden" name = "firstname" value = <%= userfirstname %> >
<input type = "hidden" name = "lastname" value = <%= userlastname %> >
<input type = 'number' min = '1' max = '100' name = 'num1'>
<input type = "number" min = "1" max = "100" name = "num2">
<input type = "radio" name = "group" value = "plus"> addition
<input type = "radio" name = "group" value = "minus"> subtraction
<input type = "radio" name = "group" value = "divided_by"> division
<input type = "radio" name = "group" value = "times"> multiple
<input type = "submit">
</form>